@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");

.curved-circle {
  display: none;
}

.testimonal-two_thumb-container {
  display: flex;
  align-items: center;
}

.testimonial-nav {
  display: flex;
  align-items: center;
  margin-top: 0 !important;
  z-index: 100;
  padding-bottom: 44px;
  gap: 5px;
}

.testimonial-nav .owl-next,
.testimonial-nav .owl-prev {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px !important;
  color: var(--futxo-black) !important;
  background-color: rgba(var(--futxo-white-rgb), 0.7) !important;
  border-radius: 50%;
  margin: 0;
  text-align: center;
  opacity: 1;
  transition: all 500ms ease;
  z-index: 100;
  border: 0;
}

.testimonial-nav .owl-next:hover,
.testimonial-nav .owl-prev:hover {
  background-color: var(--futxo-base) !important;
  color: var(--futxo-white) !important;
}

.main-header-two.fixed-header nav .main-menu-two__top {
  display: none;
}

.main-header-two.fixed-header nav,
.main-header.fixed-header nav {
  background-color: var(--futxo-white);
}
.main-header-three.fixed-header nav {
  background-color: var(--futxo-black);
}

.fixed-header nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  -webkit-animation: sticky 1s;
  animation: sticky 1s;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(87, 95, 245, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(87, 95, 245, 0.1);
}

@keyframes sticky {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
@media (min-width: 768px) {
  .portfolio-two__list-row li {
    flex: auto;
  }
}